.cardButton {
  border-radius: 12px;
  width: 180px;
  height: 40px;
  border: none;
}

.unreserved {
  background-color: #d9f7be;
  color: #00bb6d;
}

.reserved {
  background-color: #efdbff;
  color: #6a53f5;
}
